APP_URL=http://127.0.0.1:8000
SUCCESS_URL=http://127.0.0.1:8000/success
CANCEL_URL=http://127.0.0.1:8000/cancel

STRIPE_SECRET_KEY=sk_test_your_key_here
STRIPE_PUBLISHABLE_KEY=pk_test_your_key_here

DEMO_MODE=true
ENABLE_LIVE_RATES=false
ENABLE_PDF=false
ENABLE_EMAIL=false